catkin_pkg==0.4.22
catkin_pkg==1.0.0
catkin_pkg_modules==1.0.0
cv_bridge==1.16.2
matplotlib==3.7.5
matplotlib==3.1.2
mediapipe==0.8.11
message_filters==1.17.4
numpy==1.24.4
numpy==1.17.4
opencv_contrib_python==4.12.0.88
opencv_python==4.6.0.66
pandas==2.0.3
py3rosmsgs==1.18.2
PyYAML==6.0.1
PyYAML==6.0.3
ribs==0.7.1
robotframework==7.3.2
roslib==1.15.10
rospkg==1.6.0
rospkg_modules==1.6.0
rospy==1.17.4
sawyer==0.0.1
sensor_msgs==1.13.2
setuptools==75.3.2
setuptools==45.2.0
Shapely==2.1.2
tf2_geometry_msgs==0.7.10
tf2_ros==0.7.10
tf_conversions==1.13.4
torch==2.4.1
tqdm==4.66.2
ultralytics==8.3.189
