<?xml version="1.0"?>
<launch>
  <!-- Compatibility wrapper. Prefer user_study.launch for new usage. -->
  <arg name="session_id" default=""/>
  <arg name="participant_id" default=""/>
  <arg name="condition_id" default=""/>
  <arg name="block_id" default=""/>
  <arg name="user_study_dashboard_host" default="0.0.0.0"/>
  <arg name="user_study_dashboard_port" default="8766"/>
  <arg name="camera_mode" default="light"/>
  <arg name="frontend_stack" default="classic"/>
  <arg name="tasks_yaml" default="$(find tabletop_workspace_opt)/config/user_study_tasks.yaml"/>
  <arg name="launch_sam_lego" default="$(eval 'true' if arg('frontend_stack') in ['lego', 'hybrid'] else 'false')"/>
  <arg name="launch_sam_sandwich" default="$(eval 'true' if arg('frontend_stack') in ['sandwich', 'hybrid'] else 'false')"/>
  <arg name="use_manual_sandwich_labeler" default="$(eval 'true' if arg('frontend_stack') == 'sandwich' else 'false')"/>
  <arg name="launch_pour_task" default="$(eval 'true' if arg('frontend_stack') in ['classic', 'hybrid'] else 'false')"/>
  <arg name="launch_thin_layer_placement" default="$(eval 'true' if arg('frontend_stack') in ['sandwich', 'hybrid'] else 'false')"/>
  <arg name="launch_user_study_dashboard" default="true"/>
  <arg name="enable_user_study_logging" default="true"/>

  <include file="$(find tabletop_workspace_opt)/launch/user_study.launch">
    <arg name="session_id" value="$(arg session_id)"/>
    <arg name="participant_id" value="$(arg participant_id)"/>
    <arg name="condition_id" value="$(arg condition_id)"/>
    <arg name="block_id" value="$(arg block_id)"/>
    <arg name="user_study_dashboard_host" value="$(arg user_study_dashboard_host)"/>
    <arg name="user_study_dashboard_port" value="$(arg user_study_dashboard_port)"/>
    <arg name="camera_mode" value="$(arg camera_mode)"/>
    <arg name="frontend_stack" value="$(arg frontend_stack)"/>
    <arg name="tasks_yaml" value="$(arg tasks_yaml)"/>
    <arg name="launch_sam_lego" value="$(arg launch_sam_lego)"/>
    <arg name="launch_sam_sandwich" value="$(arg launch_sam_sandwich)"/>
    <arg name="use_manual_sandwich_labeler" value="$(arg use_manual_sandwich_labeler)"/>
    <arg name="launch_pour_task" value="$(arg launch_pour_task)"/>
    <arg name="launch_thin_layer_placement" value="$(arg launch_thin_layer_placement)"/>
    <arg name="launch_user_study_dashboard" value="$(arg launch_user_study_dashboard)"/>
    <arg name="enable_user_study_logging" value="$(arg enable_user_study_logging)"/>
  </include>
</launch>
