<?xml version="1.0"?>
<launch>
  <arg name="base_frame" default="base"/>
  <arg name="end_effector_topic" default="/robot/limb/right/endpoint_state"/>
  <arg name="limb" default="right"/>
  <arg name="joy_dev" default="/dev/input/js0"/>
  <arg name="joystick_type" default="xbox"/>
  <arg name="launch_joystick" default="true"/>
  <arg name="launch_relaxed_ik" default="true"/>
  <arg name="setting_file_path" default="$(find relaxed_ik_ros1)/relaxed_ik_core/configs/settings.yaml"/>

  <arg name="camera_ns" default="camera"/>
  <arg name="launch_camera" default="true"/>
  <arg name="serial_no" default=""/>
  <arg name="json_file_path" default=""/>
  <arg name="align_depth" default="true"/>
  <arg name="enable_pointcloud" default="true"/>
  <arg name="publish_handeye_tf" default="true"/>
  <arg name="handeye_parent_frame" default="right_hand"/>
  <arg name="camera_frame" default="camera_color_optical_frame"/>
  <arg name="handeye_x" default="-0.045620"/>
  <arg name="handeye_y" default="0.025140"/>
  <arg name="handeye_z" default="0.074133"/>
  <arg name="handeye_qx" default="-0.005289"/>
  <arg name="handeye_qy" default="0.018783"/>
  <arg name="handeye_qz" default="-0.689455"/>
  <arg name="handeye_qw" default="0.724066"/>
  <arg name="target_tag_id" default="0"/>
  <arg name="invert_tag_transform" default="false"/>
  <arg name="invert_base_camera_transform" default="false"/>
  <arg name="tag_size" default="0.045"/>
  <arg name="tag_family" default="tag36h11"/>
  <arg name="selected_template_id" default="tag_center_grasp"/>
  <arg name="template_yaml" default="$(find tabletop_workspace_opt)/config/apriltag_grasp_demo.yaml"/>
  <arg name="template_roll_deg" default="0.0"/>
  <arg name="template_pitch_deg" default="0.0"/>
  <arg name="template_yaw_deg" default="0.0"/>
  <arg name="procedural_tag_grasp" default="true"/>
  <arg name="procedural_grasp_id" default="apriltag_id_0"/>
  <arg name="procedural_offset_mode" default="tag_normal"/>
  <arg name="procedural_grasp_distance_m" default="0.10"/>
  <arg name="procedural_min_grasp_z" default="-1.0"/>
  <arg name="procedural_grasp_offset_tag" default="0.0, 0.0, -0.03"/>
  <arg name="procedural_pregrasp_offset_axis_tag" default="0.0, 0.0, -1.0"/>
  <arg name="procedural_pregrasp_offset_distance_m" default="0.1"/>
  <arg name="procedural_world_up_axis" default="0.0, 0.0, 1.0"/>
  <arg name="procedural_ee_forward_axis" default="0.0, 0.0, 1.0"/>
  <arg name="procedural_ee_up_axis" default="1.0, 0.0, 0.0"/>
  <arg name="procedural_tag_up_axis_tag" default="0.0, 1.0, 0.0"/>
  <arg name="procedural_orientation_mode" default="auto_surface_align"/>
  <arg name="procedural_orientation_max_delta_deg" default="90.0"/>
  <arg name="procedural_topdown_dot_threshold" default="0.75"/>
  <arg name="launch_rviz" default="true"/>
  <arg name="rviz_config" default="$(find tabletop_workspace_opt)/config/camera_robot.rviz"/>
  <arg name="launch_pour_task" default="false"/>
  <arg name="launch_target_selector_gui" default="false"/>
  <arg name="fixed_grasp_yaml" default="$(find tabletop_workspace_opt)/config/fixed_grasp_candidates.yaml"/>
  <arg name="selected_grasp_label_topic" default="/shared_autonomy/selected_grasp_label"/>
  <arg name="carry_grasp_id" default="carry_pose"/>
  <arg name="carry_stage" default="carry_pose"/>
  <arg name="pre_pour_grasp_id" default="pre_pour_pose"/>
  <arg name="pre_pour_stage" default="pour_pre_pose"/>
  <arg name="pour_grasp_id" default="pour_pose"/>
  <arg name="pour_stage" default="pour_pose"/>
  <arg name="return_grasp_id" default="return_upright_pose"/>
  <arg name="return_stage" default="return_upright_pose"/>
  <arg name="place_back_grasp_id" default="place_back_pose"/>
  <arg name="place_back_stage" default="place_back_pose"/>
  <arg name="publish_rate_hz" default="15.0"/>
  <arg name="start_hold_sec" default="1.0"/>
  <arg name="hover_hold_sec" default="0.5"/>
  <arg name="pre_pour_move_sec" default="4.0"/>
  <arg name="pre_pour_hold_sec" default="1.0"/>
  <arg name="pour_move_sec" default="2.5"/>
  <arg name="pour_hold_sec" default="3.0"/>
  <arg name="return_move_sec" default="2.5"/>
  <arg name="return_hold_sec" default="1.0"/>
  <arg name="return_lift_move_sec" default="1.5"/>
  <arg name="return_lift_hold_sec" default="0.5"/>
  <arg name="place_back_move_sec" default="4.0"/>
  <arg name="release_hold_sec" default="1.0"/>
  <arg name="final_hold_sec" default="2.0"/>
  <arg name="safe_hover_offset_z" default="0.10"/>
  <arg name="safe_travel_min_z" default="0.08"/>
  <arg name="place_release_offset_z" default="0.10"/>
  <arg name="return_lift_offset_z" default="0.06"/>
  <arg name="enable_robot_interface" default="true"/>
  <arg name="enable_gripper_actions" default="true"/>
  <arg name="auto_prepare_gripper" default="true"/>
  <arg name="loop_sequence" default="false"/>

  <arg name="ema_alpha" default="0.35"/>
  <arg name="max_pos_jump_m" default="0.05"/>
  <arg name="max_rot_jump_deg" default="20.0"/>
  <arg name="stable_count_required" default="3"/>

  <arg name="confirm_button_index" default="2"/>
  <arg name="cancel_button_index" default="3"/>
  <arg name="close_button_index" default="0"/>
  <arg name="exec_pregrasp_topic" default="/tag_grasp_demo/pregrasp_pose"/>
  <arg name="exec_grasp_topic" default="/tag_grasp_demo/grasp_pose"/>
  <arg name="max_speed_mps" default="0.2"/>
  <arg name="max_angular_step" default="0.24"/>
  <arg name="position_tolerance_m" default="0.01"/>
  <arg name="orientation_tolerance_rad" default="0.25"/>
  <arg name="use_goal_orientation" default="true"/>
  <arg name="grasp_complete_label" default="apriltag_id_0"/>

  <param name="setting_file_path" value="$(arg setting_file_path)" />
  <param name="/tabletop_workspace_opt/control_mode" value="shared_autonomy" />

  <include if="$(arg launch_camera)" file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="$(arg camera_ns)"/>
    <arg name="serial_no" value="$(arg serial_no)"/>
    <arg name="json_file_path" value="$(arg json_file_path)"/>
    <arg name="enable_color" value="true"/>
    <arg name="enable_depth" value="true"/>
    <arg name="align_depth" value="$(arg align_depth)"/>
    <arg name="enable_pointcloud" value="$(arg enable_pointcloud)"/>
    <arg name="publish_tf" value="false"/>
  </include>

  <node if="$(arg publish_handeye_tf)"
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="handeye_static_tf"
        args="$(arg handeye_x) $(arg handeye_y) $(arg handeye_z) $(arg handeye_qx) $(arg handeye_qy) $(arg handeye_qz) $(arg handeye_qw) $(arg handeye_parent_frame) $(arg camera_frame)"
        output="screen"/>

  <include file="$(find tabletop_workspace_opt)/launch/apriltag_grasp_filtered_compat.launch">
    <arg name="camera_ns" value="$(arg camera_ns)"/>
    <arg name="image_topic" value="/$(arg camera_ns)/color/image_raw"/>
    <arg name="camera_info_topic" value="/$(arg camera_ns)/color/camera_info"/>
    <arg name="camera_frame" value="$(arg camera_frame)"/>
    <arg name="base_frame" value="$(arg base_frame)"/>
    <arg name="end_effector_topic" value="$(arg end_effector_topic)"/>
    <arg name="tag_size" value="$(arg tag_size)"/>
    <arg name="tag_family" value="$(arg tag_family)"/>
    <arg name="target_tag_id" value="$(arg target_tag_id)"/>
    <arg name="invert_tag_transform" value="$(arg invert_tag_transform)"/>
    <arg name="invert_base_camera_transform" value="$(arg invert_base_camera_transform)"/>
    <arg name="selected_template_id" value="$(arg selected_template_id)"/>
    <arg name="template_yaml" value="$(arg template_yaml)"/>
    <arg name="template_roll_deg" value="$(arg template_roll_deg)"/>
    <arg name="template_pitch_deg" value="$(arg template_pitch_deg)"/>
    <arg name="template_yaw_deg" value="$(arg template_yaw_deg)"/>
    <arg name="procedural_tag_grasp" value="$(arg procedural_tag_grasp)"/>
    <arg name="procedural_grasp_id" value="$(arg procedural_grasp_id)"/>
    <arg name="procedural_offset_mode" value="$(arg procedural_offset_mode)"/>
    <arg name="procedural_grasp_distance_m" value="$(arg procedural_grasp_distance_m)"/>
    <arg name="procedural_min_grasp_z" value="$(arg procedural_min_grasp_z)"/>
    <arg name="procedural_grasp_offset_tag" value="$(arg procedural_grasp_offset_tag)"/>
    <arg name="procedural_pregrasp_offset_axis_tag" value="$(arg procedural_pregrasp_offset_axis_tag)"/>
    <arg name="procedural_pregrasp_offset_distance_m" value="$(arg procedural_pregrasp_offset_distance_m)"/>
    <arg name="procedural_world_up_axis" value="$(arg procedural_world_up_axis)"/>
    <arg name="procedural_ee_forward_axis" value="$(arg procedural_ee_forward_axis)"/>
    <arg name="procedural_ee_up_axis" value="$(arg procedural_ee_up_axis)"/>
    <arg name="procedural_tag_up_axis_tag" value="$(arg procedural_tag_up_axis_tag)"/>
    <arg name="procedural_orientation_mode" value="$(arg procedural_orientation_mode)"/>
    <arg name="procedural_orientation_max_delta_deg" value="$(arg procedural_orientation_max_delta_deg)"/>
    <arg name="procedural_topdown_dot_threshold" value="$(arg procedural_topdown_dot_threshold)"/>
    <arg name="joy_topic" value="joy"/>
    <arg name="ema_alpha" value="$(arg ema_alpha)"/>
    <arg name="max_pos_jump_m" value="$(arg max_pos_jump_m)"/>
    <arg name="max_rot_jump_deg" value="$(arg max_rot_jump_deg)"/>
    <arg name="stable_count_required" value="$(arg stable_count_required)"/>
    <arg name="confirm_button_index" value="$(arg confirm_button_index)"/>
    <arg name="cancel_button_index" value="$(arg cancel_button_index)"/>
  </include>

  <node if="$(arg launch_joystick)" pkg="joy" type="joy_node" name="xbox" output="screen">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <node if="$(arg launch_relaxed_ik)" pkg="tabletop_workspace_opt" type="joint_velocity_controller.py" name="joint_velocity_controller" output="screen" />

  <node if="$(arg launch_relaxed_ik)" pkg="relaxed_ik_ros1" type="relaxed_ik_rust.py" name="relaxed_ik_rust" output="screen">
    <param name="use_visualization" value="false" />
  </node>

  <node if="$(arg launch_joystick)" pkg="tabletop_workspace_opt" type="joystick_teleop_node.py" name="joystick_teleop" output="screen" args="-j $(arg joystick_type) -l $(arg limb)">
    <param name="required_control_mode" value="shared_autonomy" />
  </node>

  <node pkg="tabletop_workspace_opt"
        type="apriltag_filtered_executor.py"
        name="apriltag_filtered_executor"
        output="screen">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="end_effector_topic" value="$(arg end_effector_topic)"/>
    <param name="pregrasp_topic" value="$(arg exec_pregrasp_topic)"/>
    <param name="grasp_topic" value="$(arg exec_grasp_topic)"/>
    <param name="joy_topic" value="joy"/>
    <param name="confirm_button_index" value="$(arg confirm_button_index)"/>
    <param name="cancel_button_index" value="$(arg cancel_button_index)"/>
    <param name="close_button_index" value="$(arg close_button_index)"/>
    <param name="max_speed_mps" value="$(arg max_speed_mps)"/>
    <param name="max_angular_step" value="$(arg max_angular_step)"/>
    <param name="position_tolerance_m" value="$(arg position_tolerance_m)"/>
    <param name="orientation_tolerance_rad" value="$(arg orientation_tolerance_rad)"/>
    <param name="use_goal_orientation" value="$(arg use_goal_orientation)"/>
    <param name="prompt_topic" value="/intent_inference/confirmation_prompt"/>
    <param name="execution_state_topic" value="/intent_inference/execution_state"/>
    <param name="grasp_complete_label" value="$(arg grasp_complete_label)"/>
    <param name="required_control_mode" value="shared_autonomy"/>
    <param name="prompt_marker_topic" value="/apriltag_filtered_executor/prompt_marker"/>
    <param name="prompt_marker_offset_z" value="0.15"/>
  </node>

  <node if="$(arg launch_rviz)"
        pkg="rviz"
        type="rviz"
        name="rviz_apriltag_filtered_execute"
        args="-d $(arg rviz_config)"
        output="screen"/>

  <node if="$(arg launch_target_selector_gui)"
        pkg="tabletop_workspace_opt"
        type="grasp_target_selector_gui.py"
        name="grasp_target_selector_gui"
        output="screen">
    <param name="fixed_grasp_yaml" value="$(arg fixed_grasp_yaml)" />
    <param name="selected_grasp_label_topic" value="$(arg selected_grasp_label_topic)" />
    <param name="default_grasp_label" value="$(arg grasp_complete_label)" />
  </node>

  <node if="$(arg launch_pour_task)"
        pkg="tabletop_workspace_opt"
        type="test_pour_task_sequence.py"
        name="test_pour_task_sequence"
        output="screen">
    <param name="fixed_grasp_yaml" value="$(arg fixed_grasp_yaml)" />
    <param name="base_frame" value="$(arg base_frame)" />
    <param name="end_effector_topic" value="$(arg end_effector_topic)" />
    <param name="limb" value="$(arg limb)" />
    <param name="execution_state_topic" value="/intent_inference/execution_state" />
    <param name="selected_grasp_label_topic" value="$(arg selected_grasp_label_topic)" />
    <param name="publish_rate_hz" value="$(arg publish_rate_hz)" />
    <param name="wait_for_grasp_complete" value="true" />
    <param name="grasp_complete_label" value="$(arg grasp_complete_label)" />
    <param name="carry_grasp_id" value="$(arg carry_grasp_id)" />
    <param name="carry_stage" value="$(arg carry_stage)" />
    <param name="pre_pour_grasp_id" value="$(arg pre_pour_grasp_id)" />
    <param name="pre_pour_stage" value="$(arg pre_pour_stage)" />
    <param name="pour_grasp_id" value="$(arg pour_grasp_id)" />
    <param name="pour_stage" value="$(arg pour_stage)" />
    <param name="return_grasp_id" value="$(arg return_grasp_id)" />
    <param name="return_stage" value="$(arg return_stage)" />
    <param name="place_back_grasp_id" value="$(arg place_back_grasp_id)" />
    <param name="place_back_stage" value="$(arg place_back_stage)" />
    <param name="start_hold_sec" value="$(arg start_hold_sec)" />
    <param name="hover_hold_sec" value="$(arg hover_hold_sec)" />
    <param name="pre_pour_move_sec" value="$(arg pre_pour_move_sec)" />
    <param name="pre_pour_hold_sec" value="$(arg pre_pour_hold_sec)" />
    <param name="pour_move_sec" value="$(arg pour_move_sec)" />
    <param name="pour_hold_sec" value="$(arg pour_hold_sec)" />
    <param name="return_move_sec" value="$(arg return_move_sec)" />
    <param name="return_hold_sec" value="$(arg return_hold_sec)" />
    <param name="return_lift_move_sec" value="$(arg return_lift_move_sec)" />
    <param name="return_lift_hold_sec" value="$(arg return_lift_hold_sec)" />
    <param name="place_back_move_sec" value="$(arg place_back_move_sec)" />
    <param name="release_hold_sec" value="$(arg release_hold_sec)" />
    <param name="final_hold_sec" value="$(arg final_hold_sec)" />
    <param name="safe_hover_offset_z" value="$(arg safe_hover_offset_z)" />
    <param name="safe_travel_min_z" value="$(arg safe_travel_min_z)" />
    <param name="place_release_offset_z" value="$(arg place_release_offset_z)" />
    <param name="return_lift_offset_z" value="$(arg return_lift_offset_z)" />
    <param name="enable_robot_interface" value="$(arg enable_robot_interface)" />
    <param name="enable_gripper_actions" value="$(arg enable_gripper_actions)" />
    <param name="auto_prepare_gripper" value="$(arg auto_prepare_gripper)" />
    <param name="loop_sequence" value="$(arg loop_sequence)" />
    <param name="required_control_mode" value="shared_autonomy" />
  </node>
</launch>
