<?xml version="1.0"?>
<launch>
  <!-- Compatibility wrapper. Prefer user_study.launch for new usage. -->
  <arg name="session_id" default=""/>
  <arg name="participant_id" default=""/>
  <arg name="condition_id" default=""/>
  <arg name="block_id" default=""/>
  <arg name="user_study_dashboard_host" default="0.0.0.0"/>
  <arg name="user_study_dashboard_port" default="8766"/>
  <arg name="camera_mode" default="light"/>
  <arg name="frontend_stack" default="classic"/>
  <arg name="tasks_yaml" default="$(find tabletop_workspace_opt)/config/user_study_tasks.yaml"/>
  <arg name="launch_sam_lego" default="$(eval 'true' if arg('frontend_stack') in ['lego', 'hybrid'] else 'false')"/>
  <arg name="launch_sam_sandwich" default="$(eval 'true' if arg('frontend_stack') in ['sandwich', 'hybrid'] else 'false')"/>
  <arg name="use_manual_sandwich_labeler" default="$(eval 'true' if arg('frontend_stack') == 'sandwich' else 'false')"/>
  <arg name="launch_pour_task" default="$(eval 'true' if arg('frontend_stack') in ['classic', 'hybrid'] else 'false')"/>
  <arg name="launch_thin_layer_placement" default="$(eval 'true' if arg('frontend_stack') in ['sandwich', 'hybrid'] else 'false')"/>
  <arg name="launch_user_study_dashboard" default="true"/>
  <arg name="enable_user_study_logging" default="true"/>
  <arg name="beta" default="2.0"/>
  <arg name="intent_score_model" default="distance_only"/>
  <arg name="beta_distance" default="$(arg beta)"/>
  <arg name="beta_user_alignment" default="1.0"/>
  <arg name="joystick_direction_weight" default="6.0"/>
  <arg name="joystick_direction_threshold" default="0.10"/>
  <arg name="joystick_direction_x_axis" default="1"/>
  <arg name="joystick_direction_y_axis" default="0"/>
  <arg name="joystick_direction_x_sign" default="1.0"/>
  <arg name="joystick_direction_y_sign" default="1.0"/>
  <arg name="joystick_intent_model" default="projected_position"/>
  <arg name="joystick_projection_speed_mps" default="0.08"/>
  <arg name="joystick_projection_min_sec" default="0.25"/>
  <arg name="joystick_projection_hold_cap_sec" default="0.75"/>
  <arg name="joystick_projection_use_magnitude" default="false"/>
  <arg name="auto_select_pregrasp" default="false"/>
  <arg name="auto_select_hold_sec" default="0.50"/>
  <arg name="auto_select_phases" default="select_sandwich_item, select_breakfast_ingredient, select_breakfast_milk"/>
  <arg name="intent_select_mode" default="threshold"/>
  <arg name="joystick_event_axis_indices" default="0,1"/>
  <arg name="joystick_event_threshold" default="0.25"/>
  <arg name="joystick_event_hold_sec" default="0.30"/>
  <arg name="joystick_retarget_threshold" default="0.0"/>
  <arg name="joystick_retarget_hold_sec" default="0.30"/>
  <arg name="joystick_retarget_input_threshold" default="0.10"/>
  <arg name="joystick_event_min_probability" default="0.30"/>
  <arg name="joystick_start_on_release" default="true"/>
  <arg name="joystick_release_threshold" default="0.08"/>
  <arg name="joystick_recent_input_window_sec" default="1.25"/>
  <arg name="joystick_stable_select_hold_sec" default="0.12"/>
  <arg name="joystick_retarget_on_release" default="false"/>
  <arg name="joystick_retarget_release_window_sec" default="0.70"/>
  <arg name="joystick_event_cooldown_sec" default="0.35"/>
  <arg name="joystick_event_sample_delay_sec" default="0.0"/>
  <arg name="selection_lock_start_timeout_sec" default="1.0"/>
  <arg name="auto_visual_grasp_refine" default="false"/>
  <arg name="visual_refine_offset_topic" default="/visual_grasp_refine/offset"/>
  <arg name="visual_refine_allowed_categories" default="sandwich_bread,sandwich_filling"/>
  <arg name="visual_refine_max_age_sec" default="0.35"/>
  <arg name="visual_refine_timeout_sec" default="3.0"/>
  <arg name="visual_refine_xy_tolerance_m" default="0.006"/>
  <arg name="visual_refine_max_xy_step_m" default="0.010"/>
  <arg name="visual_refine_max_total_xy_m" default="0.040"/>
  <arg name="visual_refine_speed_mps" default="0.040"/>
  <arg name="launch_visual_grasp_refine_demo" default="false"/>
  <arg name="visual_refine_demo_initial_offset_xyz" default="0.015,-0.010,0.0"/>
  <arg name="visual_refine_demo_duration_sec" default="2.0"/>
  <arg name="breakfast_milk_pose_lift_z" default="0.05"/>
  <arg name="breakfast_milk_min_pregrasp_z" default="0.08"/>
  <arg name="breakfast_milk_min_grasp_z" default="-0.045"/>
  <arg name="breakfast_milk_pregrasp_ignore_orientation" default="true"/>
  <arg name="breakfast_milk_grasp_max_speed_mps" default="0.30"/>
  <arg name="pause_auto_pregrasp_on_manual_assist" default="false"/>
  <arg name="manual_grasp_after_pregrasp" default="true"/>

  <include file="$(find tabletop_workspace_opt)/launch/user_study.launch">
    <arg name="session_id" value="$(arg session_id)"/>
    <arg name="participant_id" value="$(arg participant_id)"/>
    <arg name="condition_id" value="$(arg condition_id)"/>
    <arg name="block_id" value="$(arg block_id)"/>
    <arg name="user_study_dashboard_host" value="$(arg user_study_dashboard_host)"/>
    <arg name="user_study_dashboard_port" value="$(arg user_study_dashboard_port)"/>
    <arg name="camera_mode" value="$(arg camera_mode)"/>
    <arg name="frontend_stack" value="$(arg frontend_stack)"/>
    <arg name="tasks_yaml" value="$(arg tasks_yaml)"/>
    <arg name="launch_sam_lego" value="$(arg launch_sam_lego)"/>
    <arg name="launch_sam_sandwich" value="$(arg launch_sam_sandwich)"/>
    <arg name="use_manual_sandwich_labeler" value="$(arg use_manual_sandwich_labeler)"/>
    <arg name="launch_pour_task" value="$(arg launch_pour_task)"/>
    <arg name="launch_thin_layer_placement" value="$(arg launch_thin_layer_placement)"/>
    <arg name="launch_user_study_dashboard" value="$(arg launch_user_study_dashboard)"/>
    <arg name="enable_user_study_logging" value="$(arg enable_user_study_logging)"/>
    <arg name="beta" value="$(arg beta)"/>
    <arg name="intent_score_model" value="$(arg intent_score_model)"/>
    <arg name="beta_distance" value="$(arg beta_distance)"/>
    <arg name="beta_user_alignment" value="$(arg beta_user_alignment)"/>
    <arg name="joystick_direction_weight" value="$(arg joystick_direction_weight)"/>
    <arg name="joystick_direction_threshold" value="$(arg joystick_direction_threshold)"/>
    <arg name="joystick_direction_x_axis" value="$(arg joystick_direction_x_axis)"/>
    <arg name="joystick_direction_y_axis" value="$(arg joystick_direction_y_axis)"/>
    <arg name="joystick_direction_x_sign" value="$(arg joystick_direction_x_sign)"/>
    <arg name="joystick_direction_y_sign" value="$(arg joystick_direction_y_sign)"/>
    <arg name="joystick_intent_model" value="$(arg joystick_intent_model)"/>
    <arg name="joystick_projection_speed_mps" value="$(arg joystick_projection_speed_mps)"/>
    <arg name="joystick_projection_min_sec" value="$(arg joystick_projection_min_sec)"/>
    <arg name="joystick_projection_hold_cap_sec" value="$(arg joystick_projection_hold_cap_sec)"/>
    <arg name="joystick_projection_use_magnitude" value="$(arg joystick_projection_use_magnitude)"/>
    <arg name="auto_select_pregrasp" value="$(arg auto_select_pregrasp)"/>
    <arg name="auto_select_hold_sec" value="$(arg auto_select_hold_sec)"/>
    <arg name="auto_select_phases" value="$(arg auto_select_phases)"/>
    <arg name="intent_select_mode" value="$(arg intent_select_mode)"/>
    <arg name="joystick_event_axis_indices" value="$(arg joystick_event_axis_indices)"/>
    <arg name="joystick_event_threshold" value="$(arg joystick_event_threshold)"/>
    <arg name="joystick_event_hold_sec" value="$(arg joystick_event_hold_sec)"/>
    <arg name="joystick_retarget_threshold" value="$(arg joystick_retarget_threshold)"/>
    <arg name="joystick_retarget_hold_sec" value="$(arg joystick_retarget_hold_sec)"/>
    <arg name="joystick_retarget_input_threshold" value="$(arg joystick_retarget_input_threshold)"/>
    <arg name="joystick_event_min_probability" value="$(arg joystick_event_min_probability)"/>
    <arg name="joystick_start_on_release" value="$(arg joystick_start_on_release)"/>
    <arg name="joystick_release_threshold" value="$(arg joystick_release_threshold)"/>
    <arg name="joystick_recent_input_window_sec" value="$(arg joystick_recent_input_window_sec)"/>
    <arg name="joystick_stable_select_hold_sec" value="$(arg joystick_stable_select_hold_sec)"/>
    <arg name="joystick_retarget_on_release" value="$(arg joystick_retarget_on_release)"/>
    <arg name="joystick_retarget_release_window_sec" value="$(arg joystick_retarget_release_window_sec)"/>
    <arg name="joystick_event_cooldown_sec" value="$(arg joystick_event_cooldown_sec)"/>
    <arg name="joystick_event_sample_delay_sec" value="$(arg joystick_event_sample_delay_sec)"/>
    <arg name="selection_lock_start_timeout_sec" value="$(arg selection_lock_start_timeout_sec)"/>
    <arg name="auto_visual_grasp_refine" value="$(arg auto_visual_grasp_refine)"/>
    <arg name="visual_refine_offset_topic" value="$(arg visual_refine_offset_topic)"/>
    <arg name="visual_refine_allowed_categories" value="$(arg visual_refine_allowed_categories)"/>
    <arg name="visual_refine_max_age_sec" value="$(arg visual_refine_max_age_sec)"/>
    <arg name="visual_refine_timeout_sec" value="$(arg visual_refine_timeout_sec)"/>
    <arg name="visual_refine_xy_tolerance_m" value="$(arg visual_refine_xy_tolerance_m)"/>
    <arg name="visual_refine_max_xy_step_m" value="$(arg visual_refine_max_xy_step_m)"/>
    <arg name="visual_refine_max_total_xy_m" value="$(arg visual_refine_max_total_xy_m)"/>
    <arg name="visual_refine_speed_mps" value="$(arg visual_refine_speed_mps)"/>
    <arg name="launch_visual_grasp_refine_demo" value="$(arg launch_visual_grasp_refine_demo)"/>
    <arg name="visual_refine_demo_initial_offset_xyz" value="$(arg visual_refine_demo_initial_offset_xyz)"/>
    <arg name="visual_refine_demo_duration_sec" value="$(arg visual_refine_demo_duration_sec)"/>
    <arg name="breakfast_milk_pose_lift_z" value="$(arg breakfast_milk_pose_lift_z)"/>
    <arg name="breakfast_milk_min_pregrasp_z" value="$(arg breakfast_milk_min_pregrasp_z)"/>
    <arg name="breakfast_milk_min_grasp_z" value="$(arg breakfast_milk_min_grasp_z)"/>
    <arg name="breakfast_milk_pregrasp_ignore_orientation" value="$(arg breakfast_milk_pregrasp_ignore_orientation)"/>
    <arg name="breakfast_milk_grasp_max_speed_mps" value="$(arg breakfast_milk_grasp_max_speed_mps)"/>
    <arg name="pause_auto_pregrasp_on_manual_assist" value="$(arg pause_auto_pregrasp_on_manual_assist)"/>
    <arg name="manual_grasp_after_pregrasp" value="$(arg manual_grasp_after_pregrasp)"/>
  </include>
</launch>
