<?xml version="1.0"?>
<launch>
  <arg name="base_frame" default="base"/>
  <arg name="end_effector_topic" default="/robot/limb/right/endpoint_state"/>
  <arg name="limb" default="right"/>
  <arg name="joy_dev" default="/dev/input/js0"/>
  <arg name="joystick_type" default="xbox"/>
  <arg name="launch_joystick" default="true"/>
  <arg name="launch_relaxed_ik" default="true"/>
  <arg name="launch_intent_viz" default="true"/>
  <arg name="setting_file_path" default="$(find relaxed_ik_ros1)/relaxed_ik_core/configs/settings.yaml"/>
  <arg name="joint_max_abs_vel" default="0.5"/>
  <arg name="selected_grasp_label_topic" default="/shared_autonomy/selected_grasp_label" />
  <arg name="tag_ids" default="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"/>
  <arg name="candidates_topic" default="/apriltag_grasp_registry/detections"/>
  <arg name="bridge_alternate_namespace_prefix" default=""/>
  <arg name="bridge_alternate_tag_ids" default="[]"/>
  <arg name="object_map_yaml" default="$(find tabletop_workspace_opt)/config/apriltag_object_map.yaml"/>
  <arg name="task_allowed_ids_topic" default="/task_context/allowed_tag_ids"/>
  <arg name="task_prompt_topic" default="/task_context/prompt"/>
  <arg name="beta" default="2.0"/>
  <arg name="intent_score_model" default="distance_only"/>
  <arg name="beta_distance" default="$(arg beta)"/>
  <arg name="beta_user_alignment" default="1.0"/>
  <arg name="window_sec" default="1.2"/>
  <arg name="stationary_speed_mps" default="0.03"/>
  <arg name="reset_hold_sec" default="2.0"/>
  <arg name="warmup_sec" default="0.0"/>
  <arg name="joystick_direction_weight" default="6.0"/>
  <arg name="joystick_direction_threshold" default="0.10"/>
  <arg name="joystick_direction_x_axis" default="1"/>
  <arg name="joystick_direction_y_axis" default="0"/>
  <arg name="joystick_direction_x_sign" default="1.0"/>
  <arg name="joystick_direction_y_sign" default="1.0"/>
  <arg name="joystick_intent_model" default="projected_position"/>
  <arg name="joystick_projection_speed_mps" default="0.08"/>
  <arg name="joystick_projection_min_sec" default="0.25"/>
  <arg name="joystick_projection_hold_cap_sec" default="0.75"/>
  <arg name="joystick_projection_use_magnitude" default="false"/>
  <arg name="select_threshold" default="0.75"/>
  <arg name="lego_select_threshold" default="0.45"/>
  <arg name="destination_select_threshold" default="0.75"/>
  <arg name="auto_select_pregrasp" default="false"/>
  <arg name="auto_select_hold_sec" default="0.50"/>
  <arg name="auto_select_phases" default="select_sandwich_item, select_breakfast_ingredient, select_breakfast_milk"/>
  <arg name="intent_select_mode" default="threshold"/>
  <arg name="joystick_event_axis_indices" default="0,1"/>
  <arg name="joystick_event_threshold" default="0.25"/>
  <arg name="joystick_event_hold_sec" default="0.30"/>
  <arg name="joystick_retarget_threshold" default="0.0"/>
  <arg name="joystick_retarget_hold_sec" default="0.30"/>
  <arg name="joystick_retarget_input_threshold" default="0.10"/>
  <arg name="joystick_event_min_probability" default="0.30"/>
  <arg name="joystick_start_on_release" default="true"/>
  <arg name="joystick_release_threshold" default="0.08"/>
  <arg name="joystick_recent_input_window_sec" default="1.25"/>
  <arg name="joystick_stable_select_hold_sec" default="0.12"/>
  <arg name="joystick_retarget_on_release" default="false"/>
  <arg name="joystick_retarget_release_window_sec" default="0.70"/>
  <arg name="joystick_event_cooldown_sec" default="0.35"/>
  <arg name="joystick_event_sample_delay_sec" default="0.0"/>
  <arg name="selection_lock_start_timeout_sec" default="1.0"/>
  <arg name="breakfast_milk_pose_lift_z" default="0.05"/>
  <arg name="breakfast_milk_min_pregrasp_z" default="0.08"/>
  <arg name="breakfast_milk_min_grasp_z" default="-0.045"/>
  <arg name="breakfast_milk_pregrasp_ignore_orientation" default="true"/>
  <arg name="breakfast_milk_grasp_max_speed_mps" default="0.30"/>
  <arg name="registry_snapshot_yaml" default=""/>
  <arg name="registry_load_from_yaml" default="false"/>
  <arg name="confirm_button_index" default="2"/>
  <arg name="cancel_button_index" default="3"/>
  <arg name="close_button_index" default="0"/>
  <arg name="enable_gripper_actions" default="true"/>
  <arg name="auto_close_gripper_on_grasp" default="true"/>
  <arg name="exec_pregrasp_topic" default="/tag_grasp_demo/pregrasp_pose"/>
  <arg name="exec_grasp_topic" default="/tag_grasp_demo/grasp_pose"/>
  <arg name="show_executor_status_window" default="false"/>
  <arg name="show_intent_probability_window" default="true"/>
  <arg name="show_intent_workspace_map_window" default="false"/>
  <arg name="enable_min_ee_z" default="false"/>
  <arg name="min_ee_z" default="0.02"/>
  <arg name="enable_teleop_z_limit" default="false"/>
  <arg name="teleop_min_ee_z" default="0.08"/>
  <arg name="use_pregrasp_approach_hover" default="false"/>
  <arg name="pregrasp_approach_offset_z" default="0.12"/>
  <arg name="pregrasp_approach_min_z" default="0.16"/>
  <arg name="max_speed_mps" default="0.2"/>
  <arg name="max_angular_step" default="0.24"/>
  <arg name="position_tolerance_m" default="0.01"/>
  <arg name="orientation_tolerance_rad" default="0.25"/>
  <arg name="pregrasp_position_tolerance_m" default="0.015"/>
  <arg name="pregrasp_orientation_tolerance_rad" default="0.35"/>
  <arg name="pregrasp_min_execute_sec" default="0.40"/>
  <arg name="stall_timeout_sec" default="12.0"/>
  <arg name="retarget_retreat_enabled" default="true"/>
  <arg name="retarget_retreat_offset_z" default="0.08"/>
  <arg name="retarget_retreat_min_z" default="0.12"/>
  <arg name="retarget_retreat_move_sec" default="0.8"/>
  <arg name="pause_auto_pregrasp_on_manual_assist" default="false"/>
  <arg name="manual_grasp_after_pregrasp" default="true"/>
  <arg name="auto_visual_grasp_refine" default="false"/>
  <arg name="visual_refine_offset_topic" default="/visual_grasp_refine/offset"/>
  <arg name="visual_refine_allowed_categories" default="sandwich_bread,sandwich_filling"/>
  <arg name="visual_refine_max_age_sec" default="0.35"/>
  <arg name="visual_refine_initial_wait_sec" default="1.5"/>
  <arg name="visual_refine_timeout_sec" default="3.0"/>
  <arg name="visual_refine_xy_tolerance_m" default="0.006"/>
  <arg name="visual_refine_max_xy_step_m" default="0.010"/>
  <arg name="visual_refine_max_total_xy_m" default="0.040"/>
  <arg name="visual_refine_speed_mps" default="0.040"/>
  <arg name="launch_apriltag_visual_refine" default="false"/>
  <arg name="visual_refine_observed_namespace_prefix" default="/apriltag_candidates/tag_"/>
  <arg name="visual_refine_reference_detections_topic" default="$(arg candidates_topic)"/>
  <arg name="visual_refine_tag_ids" default="$(arg tag_ids)"/>
  <arg name="visual_refine_max_observed_age_sec" default="$(arg visual_refine_max_age_sec)"/>
  <arg name="visual_refine_max_reference_age_sec" default="5.0"/>
  <arg name="launch_sam_final_approach" default="false"/>
  <arg name="sam_final_approach_image_topic" default="/camera/color/image_raw"/>
  <arg name="sam_final_approach_depth_topic" default="/camera/aligned_depth_to_color/image_raw"/>
  <arg name="sam_final_approach_camera_info_topic" default="/camera/color/camera_info"/>
  <arg name="sam_final_approach_camera_frame" default="camera_color_optical_frame"/>
  <arg name="sam_final_approach_model_path" default="/home/gyanig/catkin_ws/src/graspnet-baseline/sam_vit_b_01ec64.pth"/>
  <arg name="sam_final_approach_model_type" default="vit_b"/>
  <arg name="sam_final_approach_device" default="auto"/>
  <arg name="sam_final_approach_mode" default="tag_local"/>
  <arg name="sam_final_approach_prompt_mode" default="box"/>
  <arg name="sam_final_approach_roi_half_size_px" default="120"/>
  <arg name="sam_final_approach_local_depth_window_px" default="21"/>
  <arg name="sam_final_approach_local_offset_sign" default="1.0"/>
  <arg name="sam_final_approach_max_tag_age_sec" default="1.5"/>
  <arg name="sam_final_approach_local_pixel_deadband_px" default="8.0"/>
  <arg name="sam_final_approach_local_max_pixel_error_px" default="80.0"/>
  <arg name="sam_final_approach_min_mask_area_px" default="300.0"/>
  <arg name="sam_final_approach_max_mask_area_fraction" default="0.98"/>
  <arg name="sam_final_approach_publish_rate_hz" default="2.0"/>
  <arg name="sam_python_bin" default="/home/gyanig/anaconda3/bin/python3"/>
  <arg name="launch_visual_grasp_refine_demo" default="false"/>
  <arg name="visual_refine_demo_initial_offset_xyz" default="0.015,-0.010,0.0"/>
  <arg name="visual_refine_demo_duration_sec" default="2.0"/>
  <arg name="use_goal_orientation" default="true"/>
  <arg name="force_topdown_categories" default=""/>
  <arg name="force_topdown_quat_xyzw" default="0.0, 1.0, 0.0, 0.0"/>
  <arg name="execution_state_topic" default="/intent_inference/execution_state"/>

  <param name="setting_file_path" value="$(arg setting_file_path)" />
  <param name="/tabletop_workspace_opt/control_mode" value="shared_autonomy" />

  <node if="$(arg launch_joystick)" pkg="joy" type="joy_node" name="xbox" output="screen">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <node if="$(arg launch_relaxed_ik)"
        pkg="tabletop_workspace_opt"
        type="joint_velocity_controller.py"
        name="joint_velocity_controller"
        output="screen">
    <param name="max_abs_vel" value="$(arg joint_max_abs_vel)"/>
    <param name="log_v_cmd" value="false"/>
  </node>

  <node if="$(arg launch_relaxed_ik)"
        pkg="relaxed_ik_ros1"
        type="relaxed_ik_rust.py"
        name="relaxed_ik_rust"
        output="screen">
    <param name="use_visualization" value="false" />
  </node>

  <node if="$(arg launch_joystick)"
        pkg="tabletop_workspace_opt"
        type="joystick_teleop_node.py"
        name="joystick_teleop"
        output="screen"
        args="-j $(arg joystick_type) -l $(arg limb)">
    <param name="required_control_mode" value="shared_autonomy" />
    <param name="enable_teleop_z_limit" value="$(arg enable_teleop_z_limit)" />
    <param name="teleop_min_ee_z" value="$(arg teleop_min_ee_z)" />
  </node>

  <node pkg="tabletop_workspace_opt"
        type="apriltag_intent_inference.py"
        name="apriltag_intent_inference"
        output="screen">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="end_effector_topic" value="$(arg end_effector_topic)"/>
    <param name="joy_topic" value="joy"/>
    <param name="candidates_topic" value="$(arg candidates_topic)"/>
    <param name="allowed_ids_topic" value="$(arg task_allowed_ids_topic)"/>
    <param name="selected_grasp_label_topic" value="$(arg selected_grasp_label_topic)"/>
    <param name="beta" value="$(arg beta)"/>
    <param name="intent_score_model" value="$(arg intent_score_model)"/>
    <param name="beta_distance" value="$(arg beta_distance)"/>
    <param name="beta_user_alignment" value="$(arg beta_user_alignment)"/>
    <param name="window_sec" value="$(arg window_sec)"/>
    <param name="stationary_speed_mps" value="$(arg stationary_speed_mps)"/>
    <param name="reset_hold_sec" value="$(arg reset_hold_sec)"/>
    <param name="warmup_sec" value="$(arg warmup_sec)"/>
    <param name="joystick_direction_weight" value="$(arg joystick_direction_weight)"/>
    <param name="joystick_direction_threshold" value="$(arg joystick_direction_threshold)"/>
    <param name="joystick_direction_x_axis" value="$(arg joystick_direction_x_axis)"/>
    <param name="joystick_direction_y_axis" value="$(arg joystick_direction_y_axis)"/>
    <param name="joystick_direction_x_sign" value="$(arg joystick_direction_x_sign)"/>
    <param name="joystick_direction_y_sign" value="$(arg joystick_direction_y_sign)"/>
    <param name="joystick_intent_model" value="$(arg joystick_intent_model)"/>
    <param name="joystick_projection_speed_mps" value="$(arg joystick_projection_speed_mps)"/>
    <param name="joystick_projection_min_sec" value="$(arg joystick_projection_min_sec)"/>
    <param name="joystick_projection_hold_cap_sec" value="$(arg joystick_projection_hold_cap_sec)"/>
    <param name="joystick_projection_use_magnitude" value="$(arg joystick_projection_use_magnitude)"/>
    <param name="execution_state_topic" value="$(arg execution_state_topic)"/>
    <param name="object_map_yaml" value="$(arg object_map_yaml)"/>
  </node>

  <node pkg="tabletop_workspace_opt"
        type="apriltag_intent_grasp_bridge.py"
        name="apriltag_intent_grasp_bridge"
        output="screen">
    <param name="tag_ids" value="$(arg tag_ids)"/>
    <param name="input_namespace_prefix" value="/apriltag_candidates/tag_"/>
    <param name="alternate_input_namespace_prefix" value="$(arg bridge_alternate_namespace_prefix)"/>
    <param name="alternate_tag_ids" value="$(arg bridge_alternate_tag_ids)"/>
    <param name="top_goal_topic" value="/apriltag_intent_inference/top_goal"/>
    <param name="top_probability_topic" value="/apriltag_intent_inference/top_probability"/>
    <param name="distribution_topic" value="/apriltag_intent_inference/distribution"/>
    <param name="joy_topic" value="joy"/>
    <param name="output_pregrasp_topic" value="$(arg exec_pregrasp_topic)"/>
    <param name="output_grasp_topic" value="$(arg exec_grasp_topic)"/>
    <param name="prompt_topic" value="/apriltag_intent_inference/confirmation_prompt"/>
    <param name="selected_grasp_label_topic" value="$(arg selected_grasp_label_topic)"/>
    <param name="select_threshold" value="$(arg select_threshold)"/>
    <param name="lego_select_threshold" value="$(arg lego_select_threshold)"/>
    <param name="destination_select_threshold" value="$(arg destination_select_threshold)"/>
    <param name="auto_select_pregrasp" value="$(arg auto_select_pregrasp)"/>
    <param name="auto_select_hold_sec" value="$(arg auto_select_hold_sec)"/>
    <param name="auto_select_phases" value="$(arg auto_select_phases)"/>
    <param name="intent_select_mode" value="$(arg intent_select_mode)"/>
    <param name="joystick_event_axis_indices" value="$(arg joystick_event_axis_indices)"/>
    <param name="joystick_event_threshold" value="$(arg joystick_event_threshold)"/>
    <param name="joystick_event_hold_sec" value="$(arg joystick_event_hold_sec)"/>
    <param name="joystick_retarget_threshold" value="$(arg joystick_retarget_threshold)"/>
    <param name="joystick_retarget_hold_sec" value="$(arg joystick_retarget_hold_sec)"/>
    <param name="joystick_retarget_input_threshold" value="$(arg joystick_retarget_input_threshold)"/>
    <param name="joystick_event_min_probability" value="$(arg joystick_event_min_probability)"/>
    <param name="joystick_start_on_release" value="$(arg joystick_start_on_release)"/>
    <param name="joystick_release_threshold" value="$(arg joystick_release_threshold)"/>
    <param name="joystick_recent_input_window_sec" value="$(arg joystick_recent_input_window_sec)"/>
    <param name="joystick_stable_select_hold_sec" value="$(arg joystick_stable_select_hold_sec)"/>
    <param name="joystick_retarget_on_release" value="$(arg joystick_retarget_on_release)"/>
    <param name="joystick_retarget_release_window_sec" value="$(arg joystick_retarget_release_window_sec)"/>
    <param name="joystick_event_cooldown_sec" value="$(arg joystick_event_cooldown_sec)"/>
    <param name="joystick_event_sample_delay_sec" value="$(arg joystick_event_sample_delay_sec)"/>
    <param name="selection_lock_start_timeout_sec" value="$(arg selection_lock_start_timeout_sec)"/>
    <param name="breakfast_milk_pose_lift_z" value="$(arg breakfast_milk_pose_lift_z)"/>
    <param name="breakfast_milk_min_pregrasp_z" value="$(arg breakfast_milk_min_pregrasp_z)"/>
    <param name="breakfast_milk_min_grasp_z" value="$(arg breakfast_milk_min_grasp_z)"/>
    <param name="breakfast_milk_pregrasp_ignore_orientation" value="$(arg breakfast_milk_pregrasp_ignore_orientation)"/>
    <param name="breakfast_milk_grasp_max_speed_mps" value="$(arg breakfast_milk_grasp_max_speed_mps)"/>
    <param name="task_phase_topic" value="/task_context/phase"/>
    <param name="snapshot_yaml" value="$(arg registry_snapshot_yaml)"/>
    <param name="load_snapshot_yaml" value="$(arg registry_load_from_yaml)"/>
    <param name="confirm_button_index" value="$(arg confirm_button_index)"/>
    <param name="cancel_button_index" value="$(arg cancel_button_index)"/>
    <param name="object_map_yaml" value="$(arg object_map_yaml)"/>
    <param name="force_topdown_categories" value="$(arg force_topdown_categories)"/>
    <param name="force_topdown_quat_xyzw" value="$(arg force_topdown_quat_xyzw)"/>
  </node>

  <node pkg="tabletop_workspace_opt"
        type="apriltag_filtered_executor.py"
        name="apriltag_filtered_executor"
        output="screen">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="end_effector_topic" value="$(arg end_effector_topic)"/>
    <param name="pregrasp_topic" value="$(arg exec_pregrasp_topic)"/>
    <param name="grasp_topic" value="$(arg exec_grasp_topic)"/>
    <param name="joy_topic" value="joy"/>
    <param name="confirm_button_index" value="$(arg confirm_button_index)"/>
    <param name="cancel_button_index" value="$(arg cancel_button_index)"/>
    <param name="close_button_index" value="$(arg close_button_index)"/>
    <param name="limb" value="$(arg limb)"/>
    <param name="enable_gripper_actions" value="$(arg enable_gripper_actions)"/>
    <param name="auto_close_gripper_on_grasp" value="$(arg auto_close_gripper_on_grasp)"/>
    <param name="max_speed_mps" value="$(arg max_speed_mps)"/>
    <param name="max_angular_step" value="$(arg max_angular_step)"/>
    <param name="position_tolerance_m" value="$(arg position_tolerance_m)"/>
    <param name="orientation_tolerance_rad" value="$(arg orientation_tolerance_rad)"/>
    <param name="pregrasp_position_tolerance_m" value="$(arg pregrasp_position_tolerance_m)"/>
    <param name="pregrasp_orientation_tolerance_rad" value="$(arg pregrasp_orientation_tolerance_rad)"/>
    <param name="pregrasp_min_execute_sec" value="$(arg pregrasp_min_execute_sec)"/>
    <param name="stall_timeout_sec" value="$(arg stall_timeout_sec)"/>
    <param name="retarget_retreat_enabled" value="$(arg retarget_retreat_enabled)"/>
    <param name="retarget_retreat_offset_z" value="$(arg retarget_retreat_offset_z)"/>
    <param name="retarget_retreat_min_z" value="$(arg retarget_retreat_min_z)"/>
    <param name="retarget_retreat_move_sec" value="$(arg retarget_retreat_move_sec)"/>
    <param name="pause_auto_pregrasp_on_manual_assist" value="$(arg pause_auto_pregrasp_on_manual_assist)"/>
    <param name="manual_grasp_after_pregrasp" value="$(arg manual_grasp_after_pregrasp)"/>
    <param name="auto_visual_grasp_refine" value="$(arg auto_visual_grasp_refine)"/>
    <param name="visual_refine_offset_topic" value="$(arg visual_refine_offset_topic)"/>
    <param name="visual_refine_allowed_categories" value="$(arg visual_refine_allowed_categories)"/>
    <param name="visual_refine_max_age_sec" value="$(arg visual_refine_max_age_sec)"/>
    <param name="visual_refine_initial_wait_sec" value="$(arg visual_refine_initial_wait_sec)"/>
    <param name="visual_refine_timeout_sec" value="$(arg visual_refine_timeout_sec)"/>
    <param name="visual_refine_xy_tolerance_m" value="$(arg visual_refine_xy_tolerance_m)"/>
    <param name="visual_refine_max_xy_step_m" value="$(arg visual_refine_max_xy_step_m)"/>
    <param name="visual_refine_max_total_xy_m" value="$(arg visual_refine_max_total_xy_m)"/>
    <param name="visual_refine_speed_mps" value="$(arg visual_refine_speed_mps)"/>
    <param name="use_goal_orientation" value="$(arg use_goal_orientation)"/>
    <param name="enable_min_ee_z" value="$(arg enable_min_ee_z)"/>
    <param name="min_ee_z" value="$(arg min_ee_z)"/>
    <param name="use_pregrasp_approach_hover" value="$(arg use_pregrasp_approach_hover)"/>
    <param name="pregrasp_approach_offset_z" value="$(arg pregrasp_approach_offset_z)"/>
    <param name="pregrasp_approach_min_z" value="$(arg pregrasp_approach_min_z)"/>
    <param name="auto_start_pregrasp_on_new_target" value="false"/>
    <param name="allow_retarget_during_pregrasp" value="$(eval arg('intent_select_mode') == 'joystick_event')"/>
    <param name="show_status_window" value="$(arg show_executor_status_window)"/>
    <param name="prompt_topic" value="/apriltag_executor/prompt"/>
    <param name="execution_state_topic" value="$(arg execution_state_topic)"/>
    <param name="task_phase_topic" value="/task_context/phase"/>
    <param name="selected_grasp_label_topic" value="$(arg selected_grasp_label_topic)"/>
    <param name="object_map_yaml" value="$(arg object_map_yaml)"/>
    <param name="required_control_mode" value="shared_autonomy"/>
    <param name="prompt_marker_topic" value="/apriltag_filtered_executor/prompt_marker"/>
    <param name="prompt_marker_offset_z" value="0.15"/>
  </node>

  <node if="$(arg launch_visual_grasp_refine_demo)"
        pkg="tabletop_workspace_opt"
        type="fake_visual_grasp_refine_node.py"
        name="fake_visual_grasp_refine"
        output="screen">
    <param name="offset_topic" value="$(arg visual_refine_offset_topic)"/>
    <param name="execution_state_topic" value="$(arg execution_state_topic)"/>
    <param name="selected_grasp_label_topic" value="$(arg selected_grasp_label_topic)"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="initial_offset_xyz" value="$(arg visual_refine_demo_initial_offset_xyz)"/>
    <param name="duration_sec" value="$(arg visual_refine_demo_duration_sec)"/>
  </node>

  <node if="$(arg launch_apriltag_visual_refine)"
        pkg="tabletop_workspace_opt"
        type="apriltag_visual_grasp_refine_node.py"
        name="apriltag_visual_grasp_refine"
        output="screen">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="object_map_yaml" value="$(arg object_map_yaml)"/>
    <param name="tag_ids" value="$(arg visual_refine_tag_ids)"/>
    <param name="observed_namespace_prefix" value="$(arg visual_refine_observed_namespace_prefix)"/>
    <param name="reference_detections_topic" value="$(arg visual_refine_reference_detections_topic)"/>
    <param name="offset_topic" value="$(arg visual_refine_offset_topic)"/>
    <param name="execution_state_topic" value="$(arg execution_state_topic)"/>
    <param name="selected_grasp_label_topic" value="$(arg selected_grasp_label_topic)"/>
    <param name="allowed_categories" value="$(arg visual_refine_allowed_categories)"/>
    <param name="max_observed_age_sec" value="$(arg visual_refine_max_observed_age_sec)"/>
    <param name="max_reference_age_sec" value="$(arg visual_refine_max_reference_age_sec)"/>
    <param name="max_xy_m" value="$(arg visual_refine_max_total_xy_m)"/>
    <param name="publish_rate_hz" value="20.0"/>
  </node>

  <node if="$(arg launch_sam_final_approach)"
        pkg="tabletop_workspace_opt"
        type="sam_final_approach_node.py"
        name="sam_final_approach"
        launch-prefix="$(arg sam_python_bin)"
        output="screen">
    <env name="PYTORCH_CUDA_ALLOC_CONF" value="max_split_size_mb:128"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="camera_frame" value="$(arg sam_final_approach_camera_frame)"/>
    <param name="image_topic" value="$(arg sam_final_approach_image_topic)"/>
    <param name="depth_topic" value="$(arg sam_final_approach_depth_topic)"/>
    <param name="camera_info_topic" value="$(arg sam_final_approach_camera_info_topic)"/>
    <param name="end_effector_topic" value="$(arg end_effector_topic)"/>
    <param name="execution_state_topic" value="$(arg execution_state_topic)"/>
    <param name="selected_grasp_label_topic" value="$(arg selected_grasp_label_topic)"/>
    <param name="observed_namespace_prefix" value="$(arg visual_refine_observed_namespace_prefix)"/>
    <param name="object_map_yaml" value="$(arg object_map_yaml)"/>
    <param name="tag_ids" value="$(arg visual_refine_tag_ids)"/>
    <param name="allowed_categories" value="$(arg visual_refine_allowed_categories)"/>
    <param name="sam_model_path" value="$(arg sam_final_approach_model_path)"/>
    <param name="sam_model_type" value="$(arg sam_final_approach_model_type)"/>
    <param name="sam_device" value="$(arg sam_final_approach_device)"/>
    <param name="approach_mode" value="$(arg sam_final_approach_mode)"/>
    <param name="sam_prompt_mode" value="$(arg sam_final_approach_prompt_mode)"/>
    <param name="offset_topic" value="$(arg visual_refine_offset_topic)"/>
    <param name="roi_half_size_px" value="$(arg sam_final_approach_roi_half_size_px)"/>
    <param name="local_depth_window_px" value="$(arg sam_final_approach_local_depth_window_px)"/>
    <param name="local_offset_sign" value="$(arg sam_final_approach_local_offset_sign)"/>
    <param name="max_tag_age_sec" value="$(arg sam_final_approach_max_tag_age_sec)"/>
    <param name="local_pixel_deadband_px" value="$(arg sam_final_approach_local_pixel_deadband_px)"/>
    <param name="local_max_pixel_error_px" value="$(arg sam_final_approach_local_max_pixel_error_px)"/>
    <param name="min_mask_area_px" value="$(arg sam_final_approach_min_mask_area_px)"/>
    <param name="max_mask_area_fraction" value="$(arg sam_final_approach_max_mask_area_fraction)"/>
    <param name="max_xy_correction_m" value="$(arg visual_refine_max_total_xy_m)"/>
    <param name="publish_rate_hz" value="$(arg sam_final_approach_publish_rate_hz)"/>
  </node>

  <node if="$(arg launch_intent_viz)"
        pkg="tabletop_workspace_opt"
        type="intent_visualization_node.py"
        name="apriltag_intent_visualization"
        output="screen">
    <param name="candidate_source" value="detections"/>
    <param name="det_topic" value="$(arg candidates_topic)"/>
    <param name="prob_topic" value="/apriltag_intent_inference/distribution"/>
    <param name="top_goal_topic" value="/apriltag_intent_inference/top_goal"/>
    <param name="tracker_point_topic" value="/apriltag_intent_inference/current_tracker_point"/>
    <param name="top_pose_topic" value="/apriltag_intent_inference/top_pose"/>
    <param name="confirmation_prompt_topic" value="/apriltag_intent_inference/confirmation_prompt"/>
    <param name="allowed_ids_topic" value="$(arg task_allowed_ids_topic)"/>
    <param name="task_prompt_topic" value="$(arg task_prompt_topic)"/>
    <param name="show_probability_window" value="$(arg show_intent_probability_window)"/>
    <param name="show_workspace_map_window" value="$(arg show_intent_workspace_map_window)"/>
    <param name="object_map_yaml" value="$(arg object_map_yaml)"/>
  </node>
</launch>
