<?xml version="1.0"?>
<launch>
  <arg name="camera_ns" default="/camera"/>
  <arg name="node_name" default="apriltag_grasp_demo"/>
  <arg name="image_topic" default="$(arg camera_ns)/color/image_raw"/>
  <arg name="camera_info_topic" default="$(arg camera_ns)/color/camera_info"/>
  <arg name="camera_frame" default="camera_color_optical_frame"/>
  <arg name="base_frame" default="base"/>
  <arg name="end_effector_topic" default="/robot/limb/right/endpoint_state"/>
  <arg name="tag_size" default="0.05"/>
  <arg name="tag_family" default="tag36h11"/>
  <arg name="target_tag_id" default="-1"/>
  <arg name="invert_tag_transform" default="false"/>
  <arg name="invert_base_camera_transform" default="false"/>
  <arg name="selected_template_id" default="tag_center_grasp"/>
  <arg name="template_yaml" default="$(find tabletop_workspace_opt)/config/apriltag_grasp_demo.yaml"/>
  <arg name="template_roll_deg" default="0.0"/>
  <arg name="template_pitch_deg" default="0.0"/>
  <arg name="template_yaw_deg" default="0.0"/>
  <arg name="procedural_tag_grasp" default="false"/>
  <arg name="procedural_grasp_id" default="tag_axis_grasp"/>
  <arg name="procedural_offset_mode" default="camera_ray"/>
  <arg name="procedural_grasp_distance_m" default="0.10"/>
  <arg name="procedural_min_grasp_z" default="0.02"/>
  <arg name="procedural_grasp_offset_tag" default="0.0, 0.0, 0.10"/>
  <arg name="procedural_pregrasp_offset_axis_tag" default="0.0, 0.0, 1.0"/>
  <arg name="procedural_pregrasp_offset_distance_m" default="0.08"/>
  <arg name="procedural_world_up_axis" default="0.0, 0.0, 1.0"/>
  <arg name="procedural_ee_forward_axis" default="0.0, 0.0, 1.0"/>
  <arg name="procedural_ee_up_axis" default="0.0, 1.0, 0.0"/>
  <arg name="procedural_tag_up_axis_tag" default="1.0, 0.0, 0.0"/>
  <arg name="procedural_roll_selection" default="closest_current"/>
  <arg name="procedural_orientation_mode" default="auto_surface_align"/>
  <arg name="procedural_orientation_max_delta_deg" default="20.0"/>
  <arg name="procedural_topdown_dot_threshold" default="0.75"/>
  <arg name="output_ns" default="/tag_grasp_demo"/>

  <node pkg="tabletop_workspace_opt"
        type="apriltag_grasp_demo.py"
        name="$(arg node_name)"
        output="screen">
    <param name="image_topic" value="$(arg image_topic)"/>
    <param name="camera_info_topic" value="$(arg camera_info_topic)"/>
    <param name="camera_frame" value="$(arg camera_frame)"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="end_effector_topic" value="$(arg end_effector_topic)"/>
    <param name="tag_size" value="$(arg tag_size)"/>
    <param name="tag_family" value="$(arg tag_family)"/>
    <param name="target_tag_id" value="$(arg target_tag_id)"/>
    <param name="invert_tag_transform" value="$(arg invert_tag_transform)"/>
    <param name="invert_base_camera_transform" value="$(arg invert_base_camera_transform)"/>
    <param name="selected_template_id" value="$(arg selected_template_id)"/>
    <param name="template_yaml" value="$(arg template_yaml)"/>
    <param name="template_roll_deg" value="$(arg template_roll_deg)"/>
    <param name="template_pitch_deg" value="$(arg template_pitch_deg)"/>
    <param name="template_yaw_deg" value="$(arg template_yaw_deg)"/>
    <param name="procedural_tag_grasp" value="$(arg procedural_tag_grasp)"/>
    <param name="procedural_grasp_id" value="$(arg procedural_grasp_id)"/>
    <param name="procedural_offset_mode" value="$(arg procedural_offset_mode)"/>
    <param name="procedural_grasp_distance_m" value="$(arg procedural_grasp_distance_m)"/>
    <param name="procedural_min_grasp_z" value="$(arg procedural_min_grasp_z)"/>
    <param name="procedural_grasp_offset_tag" value="$(arg procedural_grasp_offset_tag)"/>
    <param name="procedural_pregrasp_offset_axis_tag" value="$(arg procedural_pregrasp_offset_axis_tag)"/>
    <param name="procedural_pregrasp_offset_distance_m" value="$(arg procedural_pregrasp_offset_distance_m)"/>
    <param name="procedural_world_up_axis" value="$(arg procedural_world_up_axis)"/>
    <param name="procedural_ee_forward_axis" value="$(arg procedural_ee_forward_axis)"/>
    <param name="procedural_ee_up_axis" value="$(arg procedural_ee_up_axis)"/>
    <param name="procedural_tag_up_axis_tag" value="$(arg procedural_tag_up_axis_tag)"/>
    <param name="procedural_roll_selection" value="$(arg procedural_roll_selection)"/>
    <param name="procedural_orientation_mode" value="$(arg procedural_orientation_mode)"/>
    <param name="procedural_orientation_max_delta_deg" value="$(arg procedural_orientation_max_delta_deg)"/>
    <param name="procedural_topdown_dot_threshold" value="$(arg procedural_topdown_dot_threshold)"/>
    <param name="base_tag_pose_topic" value="$(arg output_ns)/base_tag_pose"/>
    <param name="selected_template_topic" value="$(arg output_ns)/selected_template"/>
    <param name="pregrasp_pose_topic" value="$(arg output_ns)/pregrasp_pose"/>
    <param name="grasp_pose_topic" value="$(arg output_ns)/grasp_pose"/>
    <param name="markers_topic" value="$(arg output_ns)/markers"/>
    <param name="status_topic" value="$(arg output_ns)/status"/>
  </node>
</launch>
