<?xml version="1.1"?>
<launch>
    <!-- Argument for the world frame ID -->
    <arg name="world_frame_id" default="world" /> 
    <arg name="setting_file_path" default="$(find relaxed_ik_ros1)/relaxed_ik_core/configs/settings.yaml" /> 
    <arg name="serial_no"             default="838212072405"/>
    <arg name="json_file_path"        default=""/>
    <arg name="camera"                default="camera"/>
    <param name="setting_file_path" value="$(arg setting_file_path)" />
    <param name="/camera/realsense2_camera/initial_reset" value="true" />
    
    <!-- Joystick initialization node -->
    <node pkg="joy" type="joy_node" name="xbox" output="screen">
        <param name="dev" value="/dev/input/js0" />
    </node>

    <!-- RealSense node -->
    <group ns="$(arg camera)">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="serial_no"         value="$(arg serial_no)"/>
        <arg name="json_file_path"    value="$(arg json_file_path)"/>
        <arg name="depth_width"       value="640"/>
        <arg name="depth_height"      value="480"/>
        <arg name="depth_fps"         value="30"/>
        <arg name="color_width"       value="640"/>
        <arg name="color_height"      value="480"/>
        <arg name="color_fps"         value="30"/>
        <arg name="enable_depth"      value="true"/>
        <arg name="enable_color"      value="true"/>
        <arg name="enable_infra1"     value="false"/>
        <arg name="enable_infra2"     value="false"/>
        <arg name="enable_fisheye"    value="false"/>
        <arg name="enable_gyro"       value="false"/>
        <arg name="enable_accel"      value="false"/>
        <arg name="enable_pointcloud" value="true"/>
        <arg name="enable_sync"       value="true"/>
        <arg name="align_depth"       value="true"/>
        <arg name="tf_prefix"         value="$(arg camera)"/>
    </include>
    </group>
    
    <!-- Sawyer Robot Transform -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_sawyer_tf"
          args="0.0 0.0 0.0 0 0 0 $(arg world_frame_id) sawyer_base_link 100" />

    <!-- Setup Joint Velocity Controller for relaxed IK and Joystick Teleop -->
    <node pkg="tabletop_workspace_opt" type="joint_velocity_controller.py" name="joint_velocity_controller" output="screen"/> 
    <node pkg="relaxed_ik_ros1" type="relaxed_ik_rust.py" name="relaxed_ik_rust" output="screen" >
        <param name="use_visualization" value="false" />
    </node>
    <node pkg="tabletop_workspace_opt" type="joystick_teleop_node.py" name="joystick_teleop" output="screen" args="-j xbox -l right"/> 


    <node pkg="tabletop_workspace_opt" type="intent_inference_node.py" name="intent_inference" output="screen">
        <param name="end_effector_topic" value="/robot/limb/right/endpoint_state"/> 
        <param name="detections_topic" value="/yolo_3d_pose/detections"/>
        <param name="stationary_speed_mps" value="0.02"/>
        <param name="base_frame" value="world"/>
        <param name="intent_action_threshold" value="0.95"/>
    </node>

    <node pkg="tabletop_workspace_opt" type="intent_visualization_node.py" name="intent_viz" output="screen">
        <param name="det_topic"  value="/yolo_3d_pose/detections"/>
        <param name="prob_topic" value="/intent_inference/distribution"/>
        <param name="img_topic"  value="/yolo_3d_pose/annotated_image"/>
        <param name="show_combined" value="true"/>
    </node>

    <!-- RViz node with a custom configuration file -->
    <node pkg="rviz" type="rviz" name="rviz_viewer_scene" args="-d $(find tabletop_workspace_opt)/config/camera_robot.rviz" output="screen" />


</launch>