<?xml version="1.0"?>
<launch>
  <!--
    Simple sequential fixed-grasp test on the real robot:
    1) open gripper
    2) move to pregrasp_pose
    3) move to grasp_pose
    4) close gripper
  -->
  <arg name="grasp_id" default="side_pregrasp_oat" />
  <arg name="fixed_grasp_yaml" default="$(find tabletop_workspace_opt)/config/fixed_grasp_candidates.yaml" />
  <arg name="base_frame" default="base" />
  <arg name="limb" default="right" />
  <arg name="end_effector_topic" default="/robot/limb/right/endpoint_state" />
  <arg name="setting_file_path" default="$(find relaxed_ik_ros1)/relaxed_ik_core/configs/settings.yaml" />
  <arg name="launch_rviz" default="true" />
  <arg name="rviz_config" default="$(find tabletop_workspace_opt)/config/fixed_grasp_intent.rviz" />

  <arg name="controller_rate_hz" default="200.0" />
  <arg name="controller_kp" default="1.0" />
  <arg name="controller_kd" default="0.05" />
  <arg name="controller_max_abs_vel" default="0.15" />

  <arg name="publish_rate_hz" default="15.0" />
  <arg name="open_pause_sec" default="1.0" />
  <arg name="stage_move_sec" default="3.0" />
  <arg name="stage_hold_sec" default="0.5" />
  <arg name="pregrasp_move_sec" default="4.0" />
  <arg name="pregrasp_hold_sec" default="1.0" />
  <arg name="grasp_move_sec" default="2.5" />
  <arg name="grasp_hold_sec" default="0.5" />
  <arg name="close_pause_sec" default="1.0" />
  <arg name="final_hold_sec" default="2.0" />
  <arg name="loop_sequence" default="false" />
  <arg name="enable_robot_interface" default="true" />
  <arg name="enable_gripper_actions" default="false" />
  <arg name="auto_prepare_gripper" default="true" />

  <param name="setting_file_path" value="$(arg setting_file_path)" />
  <param name="/tabletop_workspace_opt/control_mode" value="fixed_goal_test" />

  <node pkg="tabletop_workspace_opt" type="joint_velocity_controller.py" name="joint_velocity_controller" output="screen">
    <param name="rate_hz" value="$(arg controller_rate_hz)" />
    <param name="kp" value="$(arg controller_kp)" />
    <param name="kd" value="$(arg controller_kd)" />
    <param name="max_abs_vel" value="$(arg controller_max_abs_vel)" />
  </node>

  <node pkg="relaxed_ik_ros1" type="relaxed_ik_rust.py" name="relaxed_ik_rust" output="screen">
    <param name="use_visualization" value="false" />
  </node>

  <node pkg="tabletop_workspace_opt" type="fixed_grasp_publisher.py" name="fixed_grasp_publisher" output="screen">
    <param name="fixed_grasp_yaml" value="$(arg fixed_grasp_yaml)" />
  </node>

  <node pkg="tabletop_workspace_opt" type="sequential_fixed_grasp_test.py" name="sequential_fixed_grasp_test" output="screen">
    <param name="fixed_grasp_yaml" value="$(arg fixed_grasp_yaml)" />
    <param name="grasp_id" value="$(arg grasp_id)" />
    <param name="base_frame" value="$(arg base_frame)" />
    <param name="limb" value="$(arg limb)" />
    <param name="end_effector_topic" value="$(arg end_effector_topic)" />
    <param name="publish_rate_hz" value="$(arg publish_rate_hz)" />
    <param name="open_pause_sec" value="$(arg open_pause_sec)" />
    <param name="stage_move_sec" value="$(arg stage_move_sec)" />
    <param name="stage_hold_sec" value="$(arg stage_hold_sec)" />
    <param name="pregrasp_move_sec" value="$(arg pregrasp_move_sec)" />
    <param name="pregrasp_hold_sec" value="$(arg pregrasp_hold_sec)" />
    <param name="grasp_move_sec" value="$(arg grasp_move_sec)" />
    <param name="grasp_hold_sec" value="$(arg grasp_hold_sec)" />
    <param name="close_pause_sec" value="$(arg close_pause_sec)" />
    <param name="final_hold_sec" value="$(arg final_hold_sec)" />
    <param name="loop_sequence" value="$(arg loop_sequence)" />
    <param name="enable_robot_interface" value="$(arg enable_robot_interface)" />
    <param name="enable_gripper_actions" value="$(arg enable_gripper_actions)" />
    <param name="auto_prepare_gripper" value="$(arg auto_prepare_gripper)" />
    <param name="required_control_mode" value="fixed_goal_test" />
  </node>

  <node if="$(arg launch_rviz)" pkg="rviz" type="rviz" name="rviz_fixed_grasp_sequence_test" args="-d $(arg rviz_config)" output="screen" />
</launch>
