<?xml version="1.0"?>
<launch>
  <arg name="fixed_grasp_yaml" default="$(find tabletop_workspace_opt)/config/fixed_grasp_candidates.yaml" />
  <arg name="base_frame" default="base" />
  <arg name="end_effector_topic" default="/robot/limb/right/endpoint_state" />
  <arg name="limb" default="right" />
  <arg name="execution_state_topic" default="/intent_inference/execution_state" />
  <arg name="setting_file_path" default="$(find relaxed_ik_ros1)/relaxed_ik_core/configs/settings.yaml" />
  <arg name="launch_rviz" default="true" />
  <arg name="rviz_config" default="$(find tabletop_workspace_opt)/config/fixed_grasp_intent.rviz" />

  <arg name="wait_for_grasp_complete" default="true" />
  <arg name="grasp_complete_label" default="side_grasp_milk" />
  <arg name="carry_grasp_id" default="carry_pose" />
  <arg name="carry_stage" default="carry_pose" />
  <arg name="pre_pour_grasp_id" default="pre_pour_pose" />
  <arg name="pre_pour_stage" default="pour_pre_pose" />
  <arg name="pour_grasp_id" default="pour_pose" />
  <arg name="pour_stage" default="pour_pose" />
  <arg name="return_grasp_id" default="return_upright_pose" />
  <arg name="return_stage" default="return_upright_pose" />
  <arg name="place_back_grasp_id" default="place_back_pose" />
  <arg name="place_back_stage" default="place_back_pose" />

  <arg name="controller_rate_hz" default="200.0" />
  <arg name="controller_kp" default="1.0" />
  <arg name="controller_kd" default="0.05" />
  <arg name="controller_max_abs_vel" default="0.15" />
  <arg name="publish_rate_hz" default="15.0" />
  <arg name="start_hold_sec" default="1.0" />
  <arg name="hover_hold_sec" default="0.5" />
  <arg name="pre_pour_move_sec" default="4.0" />
  <arg name="pre_pour_hold_sec" default="1.0" />
  <arg name="pour_move_sec" default="2.5" />
  <arg name="pour_hold_sec" default="3.0" />
  <arg name="return_move_sec" default="2.5" />
  <arg name="return_hold_sec" default="1.0" />
  <arg name="place_back_move_sec" default="4.0" />
  <arg name="release_hold_sec" default="1.0" />
  <arg name="final_hold_sec" default="2.0" />
  <arg name="safe_hover_offset_z" default="0.10" />
  <arg name="safe_travel_min_z" default="0.08" />
  <arg name="place_release_offset_z" default="0.10" />
  <arg name="enable_robot_interface" default="true" />
  <arg name="enable_gripper_actions" default="true" />
  <arg name="auto_prepare_gripper" default="true" />
  <arg name="loop_sequence" default="false" />

  <param name="setting_file_path" value="$(arg setting_file_path)" />
  <param name="/tabletop_workspace_opt/control_mode" value="fixed_goal_test" />

  <node pkg="tabletop_workspace_opt" type="joint_velocity_controller.py" name="joint_velocity_controller" output="screen">
    <param name="rate_hz" value="$(arg controller_rate_hz)" />
    <param name="kp" value="$(arg controller_kp)" />
    <param name="kd" value="$(arg controller_kd)" />
    <param name="max_abs_vel" value="$(arg controller_max_abs_vel)" />
  </node>

  <node pkg="relaxed_ik_ros1" type="relaxed_ik_rust.py" name="relaxed_ik_rust" output="screen">
    <param name="use_visualization" value="false" />
  </node>

  <node pkg="tabletop_workspace_opt" type="test_pour_task_sequence.py" name="test_pour_task_sequence" output="screen">
    <param name="fixed_grasp_yaml" value="$(arg fixed_grasp_yaml)" />
    <param name="base_frame" value="$(arg base_frame)" />
    <param name="end_effector_topic" value="$(arg end_effector_topic)" />
    <param name="limb" value="$(arg limb)" />
    <param name="execution_state_topic" value="$(arg execution_state_topic)" />
    <param name="publish_rate_hz" value="$(arg publish_rate_hz)" />
    <param name="wait_for_grasp_complete" value="$(arg wait_for_grasp_complete)" />
    <param name="grasp_complete_label" value="$(arg grasp_complete_label)" />
    <param name="carry_grasp_id" value="$(arg carry_grasp_id)" />
    <param name="carry_stage" value="$(arg carry_stage)" />
    <param name="pre_pour_grasp_id" value="$(arg pre_pour_grasp_id)" />
    <param name="pre_pour_stage" value="$(arg pre_pour_stage)" />
    <param name="pour_grasp_id" value="$(arg pour_grasp_id)" />
    <param name="pour_stage" value="$(arg pour_stage)" />
    <param name="return_grasp_id" value="$(arg return_grasp_id)" />
    <param name="return_stage" value="$(arg return_stage)" />
    <param name="place_back_grasp_id" value="$(arg place_back_grasp_id)" />
    <param name="place_back_stage" value="$(arg place_back_stage)" />
    <param name="start_hold_sec" value="$(arg start_hold_sec)" />
    <param name="hover_hold_sec" value="$(arg hover_hold_sec)" />
    <param name="pre_pour_move_sec" value="$(arg pre_pour_move_sec)" />
    <param name="pre_pour_hold_sec" value="$(arg pre_pour_hold_sec)" />
    <param name="pour_move_sec" value="$(arg pour_move_sec)" />
    <param name="pour_hold_sec" value="$(arg pour_hold_sec)" />
    <param name="return_move_sec" value="$(arg return_move_sec)" />
    <param name="return_hold_sec" value="$(arg return_hold_sec)" />
    <param name="place_back_move_sec" value="$(arg place_back_move_sec)" />
    <param name="release_hold_sec" value="$(arg release_hold_sec)" />
    <param name="final_hold_sec" value="$(arg final_hold_sec)" />
    <param name="safe_hover_offset_z" value="$(arg safe_hover_offset_z)" />
    <param name="safe_travel_min_z" value="$(arg safe_travel_min_z)" />
    <param name="place_release_offset_z" value="$(arg place_release_offset_z)" />
    <param name="enable_robot_interface" value="$(arg enable_robot_interface)" />
    <param name="enable_gripper_actions" value="$(arg enable_gripper_actions)" />
    <param name="auto_prepare_gripper" value="$(arg auto_prepare_gripper)" />
    <param name="loop_sequence" value="$(arg loop_sequence)" />
    <param name="required_control_mode" value="fixed_goal_test" />
  </node>

  <node if="$(arg launch_rviz)" pkg="rviz" type="rviz" name="rviz_pour_task_sequence_test" args="-d $(arg rviz_config)" output="screen" />
</launch>
